@page
@using RestFull.Presentation.Web.Helpers
@model RestFull.Presentation.Web.Pages.Admin.Restaurants.DetailsModel

@{
    ViewData["Title"] = Model.Restaurant.Name + " - Details Page";
}
<div>
    <h2>@Model.Restaurant.Name @Html.RestaurantStateBadge(Model.Restaurant.State)</h2>
    

    <hr/>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="btn-group-vertical w-100">
                <a asp-page="./Edit" asp-route-id="@Model.Restaurant.Id" class="btn btn-primary">Edit</a>
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
            <hr/>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="row pl-4 pr-4">
                <div class="col-sm-3 col-md-2 alert-info rounded">
                    @Html.DisplayNameFor(model => model.Restaurant.State)
                </div>
                <div class="col-sm-9 col-md-10">
                    @Html.DisplayFor(model => model.Restaurant.State)
                </div>
            </div>
            <hr/>
            <div class="row pl-4 pr-4">
                <div class="col-sm-3 col-md-2 alert-info rounded">
                    @Html.DisplayNameFor(model => model.Restaurant.Name)
                </div>
                <div class="col-sm-9 col-md-10">
                    @Html.DisplayFor(model => model.Restaurant.Name)
                </div>
            </div>
            <hr/>
            <div class="row pl-4 pr-4">
                <div class="col-sm-3 col-md-2 alert-info rounded">
                    @Html.DisplayNameFor(model => model.Restaurant.Location)
                </div>
                <div class="col-sm-9 col-md-10">
                    @Html.DisplayFor(model => model.Restaurant.Location)
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
